*.RData
*.rdb
*.rdx
*/debug.log
*/garbage.txt
.RData
.Rhistory
.Rproj.user/*
d03_dataviz/starwars.html
links.md
setup.html
u2*
u3*
xu*
*.svg
*.utf8.md
d13_goodviz/lecture-6.Rmd
d17_functions/d17_functions_alt.html
d17_functions/d17_functions_alt.Rmd
u4-d03-modeling-nonlinear-relationships/*
u4-d05-more-model-multiple-predictors/*
u4-d06-logistic-reg/*
u4-d03-modeling-nonlinear-relationships/*
u4-d04-model-multiple-predictors/*
d23_multiple/u4-d04-model-multiple-predictors.*
u4-d10-quantify-uncertainty/*
u4-d11-bootstrap/*
d28_interactive/u5-d03-interactive-web-app.html
d01_welcome/d01_welcome.knit.md

workshop/archive/*
